<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-2">
    <a class="navbar-brand" [routerLink]="''">Rental Cars</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="''" [routerLinkActive]="'active'">Головна</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="'cars'" [routerLinkActive]="'active'">Автомобілі</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="'returns'" [routerLinkActive]="'active'">Орендовані мною</a>
            </li>
        </ul>
        <div>
            <div ngbDropdown class="d-inline-block" style="margin-right: 3rem !important;" *ngIf="customer">
                <a class="text-light" style="text-decoration: none;" id="dropdownBasic1" ngbDropdownToggle>{{ customer.firstName }} {{customer.lastName}}</a>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem (click)="editCustomer()">Редагувати профіль</button>
                    <button ngbDropdownItem class="text-danger" (click)="logOut()">Вийти</button>
                </div>
            </div>
            <div *ngIf="!customer">
                <a [routerLink]="'login'" class="btn btn-outline-success">Логін</a>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>