<div class="row">
    <div class="col-md-4 mt-4" *ngFor="let car of cars">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/image/not.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ car.brand }} ({{ car.model }})</h5>
                <p class="card-text">Рік випуску: {{ car.year | date:'shortDate'}}</p>
                <p class="card-text">Паливо: {{ car.fuel | format }}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <a [routerLink]="['/car', car.id]" [queryParams]="{'pickUpDate': pickUpDate, 'dropOffDate': dropOffDate}" class="btn btn-danger">Орендувати</a>
                    <div>{{ car.pricePerHour }} грн.</div>
                </div>
            </div>
        </div>
    </div>
</div>