<main class="mt-4">
    <div class="d-flex justify-content-center">
        <h1>Забронюйте прокат авто</h1>
    </div>
    <div class="d-flex justify-content-center">
        <form class="w-50">
            <div class="form-group">
                <label for="pickUpDate">Дата Отримання</label>
                <input for="pickUpDate" type="date" class="form-control" name="pickUpDate" [(ngModel)]="pickUpDate">
            </div>
            <div class="form-group mt-2">
                <label for="dropOffDate">Дата Висадки</label>
                <input for="dropOffDate" type="date" class="form-control" name="dropOffDate" [(ngModel)]="dropOffDate">
            </div>
            <button type="submit" class="btn btn-primary mt-3" (click)="searchCars()">Найти</button>
        </form>
    </div>
</main>